@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    color: var(--tg-theme-text-color);
    background: rgba(0, 0, 0, 1);
    height: auto;
    min-height: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    height: 100%;
    box-sizing: border-box;
}

.btn {
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 30px;
    width: auto;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
}

a {
    color: var(--tg-theme-link-color);
}

.wrapper-page {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 55px 0 85px;
}

.info {
    display: inline-flex;
    width: 100%;
    gap: 0 10px;
    font-size: 20px;
    font-weight: 700;
    align-items: flex-end;
    color: rgba(255, 255, 255, .6);
    height: 35px;
}

.info>small {
    font-size: 14px;
    font-weight: 200;
    padding-bottom: 2px;
}

.info-game {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
    width: 100%;
}

button.btn-tap {
    pointer-events: initial;
}

button.btn-tap>img {
    border: 1px solid red;
}

.animate-result {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.animate-result p {
    position: absolute;
    bottom: 150px;
    font-weight: bold;
    font-size: 22px;
    transition: transform 2s;
    display: inline-block;
    padding: 3px;
    margin: 0;
    line-height: 90%;
    opacity: 0;
}

.animate-result p:nth-child(1) {
    color: red;
    animation: saluteA 1s ease 1;
    background-image: linear-gradient(0.25turn, #2E9AFF, #FFD829);
}

@keyframes saluteA {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        transform: translate(200px, -200px) rotate(360deg);
        opacity: 0;
    }
}

.animate-result p:nth-child(2) {
    color: white;
    animation: saluteB 1.2s ease 1;
    background-image: linear-gradient(#F498AD 25%, #2E9AFF 25% 50%, #FFD829 75%);
}

@keyframes saluteB {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        transform: translate(-200px, -200px) rotate(360deg);
        opacity: 0;
    }
}

.animate-result p:nth-child(3) {
    color: greenyellow;
    animation: saluteC 1.3s ease 1;
    background-image: linear-gradient(#F498AD 25%, #2E9AFF 25% 50%, #FFD829 75%);
}

@keyframes saluteC {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        transform: translate(-100px, -290px) rotate(360deg) scale(1.1);
        opacity: 0;
    }
}

.animate-result p:nth-child(4) {
    color: palevioletred;
    animation: saluteD 0.8s ease 1;
}

@keyframes saluteD {
    from {
        bottom: 150px;
        opacity: 1;
    }

    100% {
        transform: translate(-130px, -250px) rotate(360deg);
        opacity: 0;
    }
}
.animate-result p:nth-child(5) {
    color: red;
    animation: saluteI .7s ease 1;
}

@keyframes saluteI {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        transform: translate(120px, -200px) rotate(360deg);
        opacity: 0;
    }
}

.animate-result p:nth-child(6) {
    color: white;
    animation: saluteF 1.4s ease 1;
}

@keyframes saluteF {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        transform: translate(-220px, -190px) rotate(360deg);
        opacity: 0;
    }
}

.animate-result p:nth-child(7) {
    color: blueviolet;
    animation: saluteD 0.8s ease 1;
}

@keyframes saluteD {
    from {
        bottom: 150px;
        opacity: 1;
    }

    100% {
        transform: translate(115px, -270px) rotate(360deg) scale(1.07);
        opacity: 0;
    }
}
.animate-result p:nth-child(8) {
    color: red;
    animation: saluteI .7s ease 1;
}

@keyframes saluteI {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        transform: translate(75px, -280px) rotate(360deg) scale(1.02);
        opacity: 0;
    }
}

.animate-result p:nth-child(9) {
    color: white;
    background-image: linear-gradient(-30deg, #2E9AFF, #F498AD);
    animation: saluteF 1.2s ease 1;
}

@keyframes saluteF {
    from {
        bottom: 150px;
        opacity: 1;
    }
    to {
        transform: translate(0px, -270px) rotate(360deg);
        opacity: 0;
    }
}
.info-tap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 5px 0;
}
.points-total-tap {
    font-size: 32px;
    font-weight: bold;
    user-select: none;
    margin-bottom: 100px;
}
.all-points {
    margin-top: -5px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    gap: 0 10px;
}
.timer-tap {
    display: flex;
    justify-content: space-around;
    gap: 0 5px;
    align-items: center;
}
.timer-tap > svg {
    stroke: #fff;
}
.wrapper-info-block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.seconds.mb-1 {
    font-size: 10px;
    min-width: 13px;
    margin-bottom: 3px !important;
}